%main
  .container-fluid
    %h2.mt-30.page-title Vehicle Owner
    %ol.breadcrumb.mb-30
      %li.breadcrumb-item
        %a{href: "index.html"} Dashboard
      %li.breadcrumb-item
        %a{href: "shops.html"} Vehicle Owner
      %li.breadcrumb-item.active owner view
    .row
      .col-lg-4.col-md-5
        .card.card-static-2.mb-30
          .card-body-table
            .shop-content-left.pd-20
              .shop_img
                = image_tag(url_for(@vehicle_owner.image))
              .shop-dt-left
                %h4= @vehicle_owner&.name
                %span= @vehicle_owner&.address
        .card.card-static-2.mb-30
          .card-body-table
            .shopowner-content-left.pd-20
              .shopowner-dt-left
                %h4= @vehicle_owner&.name
                %span Vehicle Owner
              .shopowner-dts
                .shopowner-dt-list
                  %span.left-dt Phone
                  %span.right-dt= @vehicle_owner&.mobile_number
                .shopowner-dt-list
                  %span.left-dt Email
                  %span.right-dt= @vehicle_owner&.email
                .shopowner-dt-list
                  %span.left-dt Address
                  %span.right-dt= @vehicle_owner&.address
                .shopowner-dt-list
                  %span.left-dt Active
                  %span.right-dt= @vehicle_owner.status ? "Yes" : "No" 
      .col-lg-8.col-md-7
        .card.card-static-2.mb-30
          .card-body-table
            .shopowner-content-left.pd-20
              .shopowner-dts.mt-0
                .shopowner-dt-list
                  %span.left-dt Total Vehicle 
                  %span.right-dt 06
                .shopowner-dt-list
                  %span.left-dt Total Trips
                  %span.right-dt 125
                .shopowner-dt-list
                  %span.left-dt This months trip
                  %span.right-dt
                .shopowner-dt-list
                  %span.left-dt Total Income
                  %span.right-dt 1200000
                .shopowner-dt-list
                  %span.left-dt This Month Income
                  %span.right-dt 50000
                .shopowner-dt-list
                  %span.left-dt Longitude
                  %span.right-dt
                .shopowner-dt-list
                  %span.left-dt Current Status
                  %span.right-dt Yes
                .shopowner-dt-list
                  %span.left-dt Status
                  %span.right-dt Active
                .shopowner-dt-list
                  %span.left-dt Opening Time
                  %span.right-dt
                .shopowner-dt-list
                  %span.left-dt Close Time
                  %span.right-dt
                .shopowner-dt-list
                  %span.left-dt Address
                  %span.right-dt
                .shopowner-dt-list
                  %span.left-dt Description
                  %span.right-dt