<!DOCTYPE html>
<html>
  <head>
    <title>SRL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <% if vendor_signed_in? %>
    <body class="sb-nav-fixed">
      <%= render 'layouts/shared/header' %>
      <div id="layoutSidenav">
        <%= render 'layouts/shared/sidenav' %>
        <div id="layoutSidenav_content">
          <%= render 'layouts/shared/messages' %>
          <%= yield %>
          <%= render 'layouts/shared/footer' %>
        </div>
      </div>
    </body>
  <% else %>
    <%= yield %>
  <% end %>
  <%= javascript_include_tag 'highcharts', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'exporting', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'export-data', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'accessibility', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'scripts', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'chart', 'data-turbolinks-track': 'reload' %>
</html>
